.measure {
	width: 100%;
}

.oil_page_title {
	background: #cfd8e9;
	width: 100%;
	height: 60rpx;
	padding: 0 4%;
	padding-right: 9%;
}
.title_calendar {
	position: absolute;
	top: 1%;
	left: 80%;
}
	
.title_dept {
	position: absolute;
	top: 1%;
	left: 54%;
}

.measure_all {
	width: 100%;
	height: 350upx;
	display: flex;
	flex-direction: row;
}

#measureRing {
	width: 56%;
	height: 100%;
}

.measure_all_table {
	width: 40% !important;
	height: 90% !important;
	margin: 2% 1%;
}

.u-tr {
	width: 100% !important;
	height: 25% !important;
}
.u-td {
	font-size: 26rpx !important;
}

.measure_all_list {
	width: 100%;
	padding: 0 2%;
}
.measure_list_table,.measure_details_table {
	width: 100%;
	border-left: 0 !important;
}
.list_u-tr,.details_u_tr {
	width: 100%;
}
.list_u-td,.list_u-th,.details_u-th,.details_u_td {
	border-right: 0 !important;
	height: 70rpx !important;
	font-size: 24rpx !important;
}

.measure_all_details {
	width: 100%;
	padding: 0 1%;
}
