.work_down_details {
	width: 100%;
}

.step {
	width: 100%;
	margin: 10% 0;
}

.step1,.step2,.step3,.step4 {
	width: 14%;
	height: 8%;
	position: absolute;
	top: 12%;
}
.step1 {
	left: 8%;
}
.step2 {
	left: 32%;
}
.step3 {
	right: 32%;
}
.step4 {
	right: 8%;
}

.details_info {
	width: 100%;
}

.details_info {
	width: 100%;
}
.details_card {
	background: #f3f4f6 !important;
}
.card_item {
	width: 100%;
	height: 70rpx;
	display: flex;
	flex-direction: row;
	font-size: 25rpx;
}
.card_item_title {
	width: 32%;
	margin-left: 3%;
	font-weight: bold;
}
.card_item_title_parent {
	margin-left: 3%;
	font-weight: bold;
	font-size: 28rpx;
	color: #007AFF;
}
.card_item_text {
	width: 60%;
	margin-left: 5%;
}
.card_item_text_num {
	width: 6%;
	margin-left: 5%;
}
.word {
	width: 60%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
}
